example-node-red-flows/bacnetReadMultiple.json
[
    {
        "id": "e666c0334abec654",
        "type": "tab",
        "label": "bacnetReadMultipleFlow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "12b2c3cd23e7b2bf",
        "type": "function",
        "z": "e666c0334abec654",
        "name": "net : id",
        "func": "//initialize some variables:\nnetworkNumber = 2;\ndeviceID = 122;\naddr = networkNumber+\":\"+deviceID;\n\nmsg.payload = {\n \"av6\":{\n \"address\": addr,\n \"object_type\": \"analogValue\",\n \"object_instance\": \"6\"\n },\n \"av7\":{\n \"address\": addr,\n \"object_type\": \"analogValue\",\n \"object_instance\": \"7\"\n },\n \"av8\":{\n \"address\": addr,\n \"object_type\": \"analogValue\",\n \"object_instance\": \"8\"\n },\n \"av9\":{\n \"address\": addr,\n \"object_type\": \"analogValue\",\n \"object_instance\": \"9\"\n },\n \"av10\":{\n \"address\": addr,\n \"object_type\": \"analogValue\",\n \"object_instance\": \"10\"\n },\n \"av11\":{\n \"address\": addr,\n \"object_type\": \"analogValue\",\n \"object_instance\": \"11\"\n },\n \n};\nmsg.headers = {\"content-type\":\"application/json\"};\nnode.status(addr);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 160,
        "wires": [
            [
                "53c9ba472ffb77a0"
            ]
        ]
    },
    {
        "id": "b204662971134f5b",
        "type": "inject",
        "z": "e666c0334abec654",
        "name": "read multiple",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "12b2c3cd23e7b2bf"
            ]
        ]
    },
    {
        "id": "53c9ba472ffb77a0",
        "type": "http request",
        "z": "e666c0334abec654",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "body",
        "url": "http://localhost:5000/bacnet/read/multiple",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 510,
        "y": 160,
        "wires": [
            [
                "d7a0ee67e6f4f85f"
            ]
        ]
    },
    {
        "id": "56b875a35cacad46",
        "type": "debug",
        "z": "e666c0334abec654",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 260,
        "wires": []
    },
    {
        "id": "d7a0ee67e6f4f85f",
        "type": "function",
        "z": "e666c0334abec654",
        "name": "",
        "func": "status = msg.payload.status\nvar el0 = msg.payload.data; //get element zero of your data\nvar arr = []; //a new array for populating results\n\nfor(let prop in el0) {\n let val = el0[prop];\n arr.push({\n \"title\": prop,\n \"value\": val\n });\n}\n\nmsg.payload = arr; //set payload\nnode.status(status);\nreturn msg; //return the msg\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 160,
        "wires": [
            [
                "0fecd46813d6e9cf"
            ]
        ]
    },
    {
        "id": "0fecd46813d6e9cf",
        "type": "split",
        "z": "e666c0334abec654",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "d4fa0fafa0b054d3"
            ]
        ]
    },
    {
        "id": "d4fa0fafa0b054d3",
        "type": "function",
        "z": "e666c0334abec654",
        "name": "",
        "func": "pv = msg.payload.value.pv;\nmsg.topic = msg.payload.title;\nmsg.payload = pv;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 260,
        "wires": [
            [
                "33324b05d4d7d07c"
            ]
        ]
    },
    {
        "id": "33324b05d4d7d07c",
        "type": "join",
        "z": "e666c0334abec654",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 490,
        "y": 260,
        "wires": [
            [
                "56b875a35cacad46"
            ]
        ]
    }
]