flask_version/example-node-red-flows/bacnetRead.json
[
    {
        "id": "a9c38b6be9326f07",
        "type": "tab",
        "label": "bacnetReadFlow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e4c3a3d696bf3810",
        "type": "inject",
        "z": "a9c38b6be9326f07",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "headers",
                "v": "{\"content-type\":\"application/json\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"address\":\"2:32\",\"object_type\":\"analogValue\",\"object_instance\":\"6\"}",
        "payloadType": "json",
        "x": 250,
        "y": 160,
        "wires": [
            [
                "4e086cf54769f820",
                "7d42970434debd5e"
            ]
        ]
    },
    {
        "id": "4e086cf54769f820",
        "type": "http request",
        "z": "a9c38b6be9326f07",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "body",
        "url": "http://localhost:5000/bacnet/read/single",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 490,
        "y": 160,
        "wires": [
            [
                "3d1006159a25a12b",
                "d60b7c07e855e1b7",
                "421cfeb3e7afd803"
            ]
        ]
    },
    {
        "id": "3d1006159a25a12b",
        "type": "debug",
        "z": "a9c38b6be9326f07",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 760,
        "y": 160,
        "wires": []
    },
    {
        "id": "d60b7c07e855e1b7",
        "type": "debug",
        "z": "a9c38b6be9326f07",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload.pv",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "421cfeb3e7afd803",
        "type": "debug",
        "z": "a9c38b6be9326f07",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload.status",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 780,
        "y": 300,
        "wires": []
    },
    {
        "id": "a748be06d61e5f1f",
        "type": "ui_chart",
        "z": "a9c38b6be9326f07",
        "name": "",
        "group": "c02fb0fdcb94163a",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temp 1",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "70",
        "ymax": "150",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 720,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "7d42970434debd5e",
        "type": "function",
        "z": "a9c38b6be9326f07",
        "name": "",
        "func": "msg.payload = msg.payload.pv;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 460,
        "wires": [
            [
                "a748be06d61e5f1f",
                "6f8224b0f406a828"
            ]
        ]
    },
    {
        "id": "6f8224b0f406a828",
        "type": "debug",
        "z": "a9c38b6be9326f07",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 740,
        "y": 440,
        "wires": []
    },
    {
        "id": "8a28e6a975b9b34d",
        "type": "comment",
        "z": "a9c38b6be9326f07",
        "name": "function to remove .pv from msg.payload.pv",
        "info": "",
        "x": 550,
        "y": 400,
        "wires": []
    },
    {
        "id": "c02fb0fdcb94163a",
        "type": "ui_group",
        "name": "Furnace Temps",
        "tab": "2936b813.6cde68",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2936b813.6cde68",
        "type": "ui_tab",
        "name": "Furnace Temp",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]